.container-conferences
	%center
		%p.title-section CONFERENCIAS
	.container-text
		%center
			.row{style:"width: 100%; margin: 0px;"}
				- @attachments_conferencias.each do |imageconferencias|	
					.col-lg-4.col-md-6.col-sm-12.col-xs-12{style:"padding: 0px;"}
						.container-image
							%a{"data-target" => "#modal-#{imageconferencias.id}", "data-toggle" => "modal", :type => "button"}
								%img.portada{:src => "#{imageconferencias.image}"}
								.mask.hidden-xs
									%center
										%p.text-mask #{imageconferencias.name}

					.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-#{imageconferencias.id}"}
						.modal-dialog.modal-md
							.modal-content
								%img.portada{:src => "#{imageconferencias.image_banner}"}
								%p{style:"padding: 10px;"} #{imageconferencias.description.html_safe}


		
.container-banner-inspiragrama
	.text
		%p SI DESEAS UN PROGRAMA DE INSPIRACIÓN INTEGRAL PARA TU EMPRESA EL “INSPIRAGRAMA” ES PARA TI
		= link_to "Ver más", "#", class: "btn-conferences hidden-xs", "data-target" => ".bs-example-modal-lg", "data-toggle" => "modal"

.modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg{style:"width: 1400px; z-index: 100;"}
		.modal-content
			.modal-base
				.row
					.col-lg-2{style:"left: 70px;"}
						%center
							%button.close.boton-inspi{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button",} &times;
							%p.title-modal INSPIRAGRAMA
							%p.text-modal Conoce nuestro proceso integral de motivación y atrevete a formar familias solidas para lograr empresas exitosas

					.col-lg-10{style:"margin-top: 80px; left: 135px;"}
						
						
						
						%center
							.cuarto-circulo1
								.flecha1.glyphicon.glyphicon-share-alt
								.img
									.box-conferencia
										.text-conferencia
											Conferencias dirigidas a los trabajadores de la organización
							.cuarto-circulo2
								.flecha2.glyphicon.glyphicon-share-alt
								.img
									.box-conferencia
										.text-conferencia
											Conferencias dirigidas a los trabajadores y sus esposas
							.cuarto-circulo3
								.flecha3.glyphicon.glyphicon-share-alt
								.img
									.box-conferencia
										.text-conferencia
											Conferencias dirigidas a los hijos de los trabajadores de la organización
							.cuarto-circulo4
								.flecha4.glyphicon.glyphicon-share-alt
								.img
									.box-conferencia
										.text-conferencia
											Conferencias dirigidas a los gerentes lideres de la organización
					
