= render 'layouts/frontend/navigation'
.container-video
	%video#bgvid{:autoplay => "", :loop => "", :poster => "frontend/ImagenCartelera.jpg"}
		%source{:src => "//demosthenes.info/assets/videos/polina.webm", :type => "video/webm"}
			%source{:src => "//demosthenes.info/assets/videos/polina.mp4", :type => "video/mp4"}

.container-logo-henao
	=image_tag "frontend/LogoGustavoHenao-01.png"

.container-text
	%h3 INSPIRADOR DE MULTITUDES

.container-social
	%center
		= link_to '<div class="red social1"></div>'.html_safe, "#"
		= link_to '<div class="red social2"></div>'.html_safe, "#"
		= link_to '<div class="red social3"></div>'.html_safe, "#"
		= link_to '<div class="red social4"></div>'.html_safe, "#"
