
.container-cuadro-text
	.text-border
		%p El gran éxito de Gustavo Henao como speaker es que no es un lector de teorías, es un TRANSFORMADOR del potencial humano. Tiene la capacidad de hacerse UNO más en las organizaciones, creando un ambiente de MOTIVACIÓN con temas que tienen implicación en nuestras vidas díarias. Y lo hace de una manera muy particular: con humor, reflexion y entusiamo.

		%p Nació con labio leporino bilateral y paladar hendido, a pesar de las burlas, el rechazo y e impedimiento fisico de comunicarse, logro convertir su mayor debilidad en su mayor fortaleza. Su propia vida ha sido su mejor entrenamiento en autoestima, liderazgo, confianza y resiliencia. Durante su recuperacion encontro y formulo estrategias de crecimiento personal que hoy comparte con miles de personas alrededor del mundo. 
.panel-title
	%center
		%p VENTAJAS
.body-curriculun
	.bar
	.panelone
		.title
			.icon
				%center
					= image_tag "frontend/Resumen_curricular-Birrete.png"
		.body
			%p Gustavo es graduado con honores en contaduria, condecorado con el mejor indice de su promocion, acreedor del premio a la excelencia Hercilio Camacho, posee un Master en Oratoria de alto nivel, es un incansable investigador del comportamiento humano, lo que lo ha llevado a desarrollar estrategias motivacionales y de crecimiento personal que son aplicables a todo nivel.

	.paneltwo
		.title
			.icon
				%center
					= image_tag "frontend/Resumen_curricular-Corona.png"
		.body
			%p Durante su proceso de recuperacion (mas de 20 intervenciones quirurgicas) formo un caracter de triunfador enfocando su entrenamiento personal en tecnologias de cambio rapido y empoderamiento personal. Las herramientas que desarrollo las comparte con miles de personas alrededor del mundo, inspirandoles a vivir con pasion y a convertir cualquier debilidad en una FORTALEZA. 

	.panelthree
		.title
			.icon
				%center
					= image_tag "frontend/Resumen_curricular_Trofeo.png"
		.body
			%p Acreedor del primer lugar en un certamen regional de ORATORIA en su pais de origin "Colombia".

	.panelfour
		.title
			.icon
				%center
					= image_tag "frontend/Resumen_curricular-Orador.png"
		.body
			%p Se ha entrenado con especialistas de la talla de Jhon Maxwell, (Comunicador de masas de nivel mundial, con mas de 60 Best-Sellers), Francisco Yañez (Acreedor del GALARDON DE ORO como mejor conferencista motivacional), Ismael Cala (Comunicador de la cadena de noticias numero 1 en el mundo CNN). Cuenta con reconocidos mentores y asesores que actualizan constantemente sus conocimientos y destrezas motivacionales. 

	.panelfive
		.title
			.icon
				%center
					= image_tag "frontend/Resumen_curricular-estrell.png"
		.body
			%p Las conferencias motivacionales de Gustavo Henao tienen una reputacion extraordinaria por dos cosas: contenido comprensivo y transformacion personal. Es el excepcional entrenador capaz de unir situaciones diarias y su implicacion en nuestro desarrollo laboral.

	.panelsix
		.title
			.icon
				%center
					= image_tag "frontend/Resumen_curricular-Certificcion.png"
		.body
			%p Todos los cursos, seminarios, talleres y conferencias vienen con su garantia 100% libre de riesgos. Empresas, lideres a nivel nacional e internacional, emprendedores y miles de personas son testigos de la alta dosis de motivacion que han recibido de Gustavo Henao.

.banner
	.text-banner
		%center
			%p Su inspiradora historia
			%p#bold de superación es ÚNICA
