%link{:href => "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400", :rel => "stylesheet"}/
%link{:href => "/assets/frontend/Formscreen/animate.css", :rel => "stylesheet", :type => "text/css"}/
= render 'layouts/frontend/navigation'

#section-book
  .hidden-xs.hidden-sm.hidden-md
    .container.content-cover{style: "color:#FFF"}
      .center-d
        %p.text-banner "Gracias a este libro, entendemos que muchas de estas circunstancias adversas, nos han preparado para reconocer nuestro propósito de vida"
        %h3{style:"font-weight: 900;"} - Barbara Palacios
        %h3 Mis Universo, empresaria y conferencista
      =# image_tag "frontend/banner-henao.png", :style => "height:60vh;width:100%;object-fit: cover;"
  .container.mobile-t
    .row
      .col-lg-7.description-book
        %p
          Cicatrices de un propósito no es una guía de fórmulas para "alcanzar el éxito", no es una autobiografía, tampoco es un libro de motivación, más bien es un libro de
          %i transformación.
          Es mi historia de vida vista desde diferentes perspectivas.
        %br
        %p Abriré mi corazón para contarte anécdotas que, en algún momento, fueron el motivo de mis lágrimas, pero hoy se convirtieron en mi inspiración, en el nacimiento de las enseñanzas que comparto a diario en diferentes escenarios alrededor del mundo. Cuando tengas en tus manos mi primer libro me bajaré de la tarima y me ubicaré frente a ti para inspirarte a caminar sobre tu éxito.
      .col-lg-5
        =image_tag "frontend/libros.png", :class => "img-responsive", :style => "height: 210px;margin-top: 9vh;"
        .text-center.text-t Cicatrices de un propósito
        .text-center.text-name Gustavo Henao
        .text-center
          %a{:href => "https://www.amazon.com/"}
            =image_tag "frontend/boton.png", :style => "height: 35px;cursor:pointer;border-radius: 5px;"
    .text-center.quota
      "La historia de Gustavo proyectada en este hermoso libro, es un testigo más de como el éxito, el dinero, la prosperidad y la gloria
      son, y deben ser, el resultado de un proceso que deja cicatrices y
      recorridos, muchas veces, dolorosos pero seguros y perdurables en
      sus resultados."
    .text-center{:style =>"font-size: 19px;opacity:0.7;font-weight: 900;"}
      %span - José Bobadilla
    .text-center{:style =>"font-size: 15px;opacity:0.7;"}
      %span Empresario Colombiano y Embajador Corona

    .text-center{style: "margin-top:40px;"}
      %iframe.hidden-xs{:allowfullscreen => "", :frameborder => "0", :height => "415", :src => "https://www.youtube.com/embed/BHMZqliWXXU", :width => "660"}
      %iframe.hidden-lg.hidden-md.hidden-sm{:allowfullscreen => "", :frameborder => "0", :height => "115", :src => "https://www.youtube.com/embed/BHMZqliWXXU", :width => "260"}

  .container.comments-content{style: "color:#FFF;margin-top: 50px;"}
    .row
      .text-center
        %h3{style:"font-size: 30px;margin-top: 32px;font-weight: 900;padding: 0px 15px;"} Cicatrices de un propósito cuenta con comentarios de:
    .row
      .col-lg-3.col-md-3.col-sm-3.col-xs-12
        %img.img-circle{:src => "http://enbogam.com/wp-content/uploads/2015/04/barbara-palacios.jpg", :style => "transform: scale(0.6);"}/
        .text-center.text-rs{style: "margin-top: -59px;"}
          %h3 Bárbara Palacios
          %h4 Miss Universo, empresaria y conferencista

      .col-lg-3.col-md-3.col-sm-3.col-xs-12
        = image_tag "frontend/nelson.jpg", class: "img-circle", :style => "object-fit: cover;height: 300px;transform: scale(0.6);"
        .text-center.text-rs{style: "margin-top: -59px;"}
          %h3 Nelson Bustamante
          %h4.padding-n{style:"padding: 5px 49px;"} Presentador, Ganador de 4 Premios Emmy
      .col-lg-3.col-md-3.col-sm-3.col-xs-12
        = image_tag "frontend/motessi.jpg", class: "img-circle", :style => "object-fit: cover;height: 300px;transform: scale(0.6);"
        .text-center.text-rs{style: "margin-top: -59px;"}
          %h3 Alberto Motessi
          %h4 Conferencista internacional
      .col-lg-3.col-md-3.col-sm-3.col-xs-12
        = image_tag "frontend/eduardo.jpg", class: "img-circle", :style => "object-fit: cover;height: 300px;transform: scale(0.6);"
        .text-center.text-rs{style: "margin-top: -59px;"}
          %h3 Eduardo Rodríguez Giolitti
          %h4.padding-n{style:"padding: 5px 49px;"} Periodista, abogado y conferencista

  .container.text-center{:style => "height: 200px;"}
    .text-center.text-cicatrices También puedes adquirirlo en las siguientes librerías:
    .row
      .responsive
        -@bookshops.each do |bookshop|
          .item
            .col-lg-1.hidden-xs.hidden-sm.hidden-md
              .separator
            .col-lg-9
              .text-center{:style =>"font-size: 19px;opacity:0.7;font-weight: 900;"}
                %span= bookshop.name
              .text-center{:style =>"font-size: 12px;opacity:0.7;"}
                %p= bookshop.place
                %p= bookshop.attendat
                %p= bookshop.phone
                %p= bookshop.email
                %p= bookshop.address
            .col-lg-1.hidden-xs.hidden-sm.hidden-md
              .separator

#footer{:style => "margin-top: 30vh;"}
  .container-footer
    .row{style:"width: 100%; margin: 0px;"}
      .col-lg-6.col-md-6.col-sm-12.col-xs-12{style:"padding: 0px;"}
        .impacto1
          .impacto
            %center
              = image_tag "frontend/Logo_Impacto-01.png"
              %p#bold Gustavo Henao
              %p y su fundacion
              = link_to "Ver más", "https://fundaimpacto.com", class: "btn-footer", target:"_blank"

      .col-lg-6.col-md-6.col-sm-12.col-xs-12{style:"padding: 0px;"}
        .speaker
          %center
            = image_tag "frontend/Logo_Speaker-01.png"
            %p#bold Certificate como
            %p conferencista Internacional
            = link_to "Ver más", "https://soyspeaker.com", class: "btn-footer", target:"_blank"
.footer-description
  %center
    %p Todos los derechos reservado - Gustavo Henao Speaker Internacional
.footer-description-slice
  %center
    %p POWERED BY
    = link_to "http://www.slicegroup.xyz" do
      = image_tag "frontend/logo-slice.png"


:scss
  body{
  font-family: 'Lato', sans-serif;
  background-color:#fff;
  }

  #section-book{
    @media (max-width:1100px) and (min-width:768px){
      .img-responsive{
        margin-top: 0!important;
      }
      .quota{
        padding: 20px 100px!important;
      }
    }
    .mobile-t{
      @media (max-width:767px){
          margin-top: 70px;
      }
      @media (max-width:1100px) and (min-width:768px){

          margin-top: 50px;
      }
    }

    .comments-content{
      width: 100%;
      height: 470px;
      background-color: #00a29b;
      margin-bottom:30px;
      @media (max-width: 767px){

        height: 1600px;
      }
      @media (max-width: 590px) and (min-width:400px){
        height: 1800px;
        .img-circle{
          height: 368px!important;
        }
      }
      @media (max-width: 988px) and (min-width:768px){
        height: 400px;
        .text-rs{margin-top:-25px!important;}
        .padding-n{padding:0!important;}
        .img-circle{
          height: 180px!important;
        }
      }
      @media (max-width: 1200px) and (min-width:989px){
        height: 420px;
        .img-circle{
          height: 228px!important;
        }
      }
    }

    .text-banner{
      color: #FFF;
      text-align: center;
      font-size: 46px;
      padding: 20px 210px;
      margin-top: 25vh;
    }


    .center-d{
      height: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .center-f {
      height: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
      display: -webkit-box !important;
      display: -moz-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }

    .content-cover{
      background-image: url('https://trello-attachments.s3.amazonaws.com/569453ae24f9f3b8552ad817/59d638d80fde119361638074/e538015163729d3fa227b60b48f9992a/banner-henao.png');
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important;
      height: 100vh;
      background-size: cover;
      /* background-repeat: no-repeat; */
      background-position: center;
      @media (max-width:767px){
        height: 237px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .text-center{
      p{
        margin: 2px 5px 2px;
      }
    }

  .separator{
    width: 1px;
    height: 140px;
    margin-top: 18px;
    background-color: #D7D7D7;
    transform: translateX(8px);
  }

  .quota{
    padding:20px 315px;font-size: 19px;opacity:0.7;
    @media (max-width: 767px){
      padding:20px 20px;
    }
  }

  .description-book{
    padding:50px 80px;font-size: 19px;opacity:0.7;
    @media (max-width:767px){
      padding: 10px 34px;
      text-align: justify;
    }
  }

  .text-t{
    font-style: italic;
    color: #635d5d;
    font-size: 15px;
  }

  .text-name{
    color: #635d5d;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 10px;
  }

  .text-cicatrices{
    margin-top: 4vh;
    color: #00a29b;
    margin-bottom: 4vh;
    font-size: 21px;
    font-weight: 900;
  }

  .title-book{
    font-size: 26px;
    color: #00a29b!important;
    letter-spacing: 4px;
    color: dimgrey;
    // font-family: "Lato", sans-serif;
    // line-height: 35px;
  }

  .body-book{
    text-align: justify;
    line-height: 27px;
  }

  // body{
  //   background-color: #F5F5F5;
  // }
  .lead{
    font-size: 15px;
  }


  }
:javascript
  $('.responsive').slick({
    dots: false,
    arrows: false,
    infinite: true,
    speed: 300,
    slidesToShow: 3,
    autoplay: true,
    centerMode: false,
    slidesToScroll: 1,
      responsive: [
      {
        breakpoint: 1024,
        settings: {
          arrows: false,
          slidesToShow: 4,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 768,
        settings: {
          arrows: false,
          slidesToShow: 3,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 481,
        settings: {
          arrows: false,
          slidesToShow: 3,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: false,
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
= render 'css'
