
#front
	.front-container

		#home{style:"padding-top: 80px;"}
			= render 'home'
		
		#about{style:"padding-top: 80px;"}
			= render 'about'

		#video-full{style:"padding-top: 60px;"}
			= render 'video'

		#ventajas
			= render 'ventajas'

		#conferences
			= render 'conferences'

		#customers
			= render 'customers'
		#contacs
			= render 'contacts'
		#footer
			= render 'footer'


