= title("Contacto - Conferencia")
= render 'layouts/frontend/navigation'
.banner-contact
	%p.pull-right ¡SOLICITA TU CONFERENCIA!

= simple_form_for @contact do |f|
	.row{style:"width:100%; margin-left: 0px; margin-right: 0px; margin-top: 20px;"}
		.col-lg-4
			= f.input :conferences, collection: [('De la Superación a la Super-acción'), ('Tú ACTITUD determina tú ALTITUD')], label: false, include_blank:"- Seleccione la Conferencia -", input_html: { class: 'form-control input-inyx'}
		.col-lg-4
			= f.input :names, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Nombre y Apellido"}
		.col-lg-4
			= f.input :company, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Empresa"}
		.col-lg-4
			= f.input :estimated_date, label: false, input_html: { class: 'form-control input-inyx datepicker',  placeholder: "Fecha Estimada del Evento"}
		.col-lg-4
			= f.input :type_meeting, label: false, input_html: { class: 'form-control input-inyx',placeholder: "Tipo de Reunión"}
		.col-lg-4
			= f.input :theme, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Tema"}
		.col-lg-4
			= f.input :start_time, label: false, input_html: { class: 'form-control input-inyx datetimepicker', placeholder: "Hora de Inicio"}
		.col-lg-4
			= f.input :end_time, label: false, input_html: { class: 'form-control input-inyx datetimepicker', placeholder: "Hora de Finalización"}
		.col-lg-4
			= f.input :city, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Ciudad"}
		.col-lg-4
			= f.input :assistants, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Asistentes"}
		.col-lg-4
			= f.input :phone, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Teléfono"}
		.col-lg-4
			= f.input :email, label: false, input_html: { class: 'form-control input-inyx', placeholder: "E-mail"}
		.col-lg-12
			= f.input :message, label: false, as: :text, input_html: { class: 'form-control input-inyx',  placeholder: "Tu mensaje"}
		.col-lg-12
			.form-actions.right
				= f.button :submit, "Enviar Solicitud", class: "btn-contact" do
					%i.fa.fa-paper-plane-o

:javascript

	$('.datepicker').datepicker({
		format: 'dd-mm-yyyy',
		autoclose: true,
		language: 'es'
	})

	$('.datetimepicker').datetimepicker({
		datepicker:false,
		format:'H:i',
		language: 'es'
	})

	$(function(){
		$('form').submit(function(){
			$(':submit').attr('disabled', 'disabled');
		})
	});