%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Gustavo Henao - Speaker Internacional - Inspirador'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Gustavo Henao es un conferencista speaker de colombia con amplia trayectoria en latinoamerica, inspirador de multitudes, nacio con labio leporino y convirtio eso en su mayor fortaleza para inspirar a otros.'}"}
	%link{:href => "//fonts.googleapis.com/css?family=Lato:400,700,700italic", :rel => "stylesheet", :type => "text/css"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/FaviconGustavoHeano.png"
	= csrf_meta_tags
/ Global site tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-68835526-1"}
:javascript
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-68835526-1');
