
%li= link_to '<div class="icon1"></div>'.html_safe, "#"
%li= link_to '<div class="icon2"></div>'.html_safe, "#"
%li= link_to '<div class="icon3"></div>'.html_safe, "#"
%li= link_to '<div class="icon4"></div>'.html_safe, "#"
%li= link_to '<div class="icon5"></div>'.html_safe, "#"
%li= link_to '<div class="icon6"></div>'.html_safe, "#"
%li= link_to '<div class="icon7"></div>'.html_safe, "#"



