%center
	-if action_name == "index" and controller_name != "blog"
		%li= link_to '<div class="icon1" data-placement="bottom" title= "Home"></div>'.html_safe, "#home"
		%li= link_to '<div class="icon2" data-placement="bottom" title= "Nosotros"></div>'.html_safe, "#about"
		%li= link_to '<div class="icon4" data-placement="bottom" title= "Ventajas"></div>'.html_safe, "#ventajas"
		%li= link_to '<div class="icon3" data-placement="bottom" title= "Conferencias"></div>'.html_safe, "#conferences"
		%li= link_to '<div class="icon6" data-placement="bottom" title= "Galeria"></div>'.html_safe, "/gallery/imagenes", class: "external"
		%li= link_to '<div class="icon5" data-placement="bottom" title= "Blog"></div>'.html_safe, "/blog", class: "external"
		%li= link_to '<div class="icon7" data-placement="bottom" title= "Contacto"></div>'.html_safe, "#contacs"

		%li= link_to '<i class="fa fa-graduation-cap course"></i>'.html_safe, "/cursos", class: "external"

	- else
		%li= link_to '<div class="icon1" data-placement="bottom" title= "Home"></div>'.html_safe, main_app.root_path(anchor: "home"), class: "external"
		%li= link_to '<div class="icon2" data-placement="bottom" title= "Nosotros"></div>'.html_safe, main_app.root_path(anchor: "about"), class: "external"
		%li= link_to '<div class="icon4" data-placement="bottom" title= "Ventajas"></div>'.html_safe, main_app.root_path(anchor: "ventajas"), class: "external"
		%li= link_to '<div class="icon3" data-placement="bottom" title= "Conferencias"></div>'.html_safe, main_app.root_path(anchor: "conferences"), class: "external"
		%li{ class: "#{'current' if action_name == 'gallery'}" }
			= link_to '<div class="icon6" data-placement="bottom" title= "Galeria"></div>'.html_safe, "/gallery/imagenes", class: "external"

		%li{ class: "#{'current' if controller_name == 'blog'}" }
			= link_to '<div class="icon5" data-placement="bottom" title= "Blog"></div>'.html_safe, "/blog", class: "external"

		%li= link_to '<div class="icon7" data-placement="bottom" title= "Contacto"></div>'.html_safe, main_app.root_path(anchor: "contacs"), class: "external"

		%li{ class: "#{'current' if controller_name == 'courses'}" }
			= link_to '<i class="fa fa-graduation-cap course"></i>'.html_safe, "/cursos", class: "external"


:scss
	.course{
		color: #65bea4;
		font-size: 35px!important;
		transform: translateY(-5px);
	}
	.course:hover{color:white;}
	#front-navbar .center {
	    margin: 0!important;
	}
