
%li= link_to '<div class="icon1"></div>'.html_safe, "#home"
%li= link_to '<div class="icon2"></div>'.html_safe, "#about"
%li= link_to '<div class="icon3"></div>'.html_safe, "#video-full"
%li= link_to '<div class="icon4"></div>'.html_safe, "#ventajas"
%li= link_to '<div class="icon6"></div>'.html_safe, "#conferences"
%li= link_to '<div class="icon5"></div>'.html_safe, "#customers"
%li= link_to '<div class="icon7"></div>'.html_safe, "#contacs"



