= simple_form_for @subscriber, :url => url_for(:action => 'checkout', :controller => 'payments'), :method => 'post' do |f|
  .tab-content
    #step1.tab-pane.active{:role => "tabpanel"}
      .step33
        %h5
          %strong Datos personales
        %hr
        .row.mar_ned
          .col-lg-2
            %p{:align => "right"}
              %stong Nombre (*)
          .col-lg-4
            = f.input :name, :label => false, :input_html =>  {:autocomplete => "off", :class => "dropselectsec", :placeholder => "Introduce tu nombre", :type => "text", :required => "required"}

          .col-lg-2
            %p{:align => "right"}
              %stong E-mail (*)
          .col-lg-4
            = f.input :email, :label => false, :input_html =>  {:autocomplete => "off", :class => "dropselectsec", :placeholder => "Introduce tu email", :type => "email", :required => "required"}

        .row.mar_ned
          .col-lg-2
            %p{:align => "right"}
              %stong Apellido (*)
          .col-lg-4
            = f.input :lastname, :label => false, :input_html =>  {:autocomplete => "off", :class => "dropselectsec", :placeholder => "Introduce tu apellido", :type => "text", :required => "required"}

          .col-lg-2
            %p{:align => "right"}
              %stong Identidad (*)
          .col-lg-4
            = f.input :document_id, :label => false, :input_html =>  {:autocomplete => "off", :class => "dropselectsec", :placeholder => "Introduce tu identidad", :type => "text", :required => "required"}

        .row.mar_ned
          .col-lg-2
            %p{:align => "right"}
              %stong Telefono Personal (*)
          .col-lg-4
            = f.input :phone_one, :label => false, :input_html =>  {:class => "dropselectsec", :placeholder => "Introduce tu telefono personal", :type => "text", :required => "required"}

          .col-lg-2
            %p{:align => "right"}
              %stong Telefono Opcional
          .col-lg-4
            = f.input :phone_two, :label => false, :input_html =>  {:class => "dropselectsec", :placeholder => "Introduce tu telefono de oficina", :type => "text", :required => "required"}

        .row.mar_ned
          .col-lg-2
            %p{:align => "right"}
              %stong Direccion (*)
          .col-lg-3
            = f.input :address, as: :text, :label => false, :input_html =>  {:class => "form-control", :placeholder => "Introduce tu direccion", :type => "text", :required => "required"}
            = f.input :course_id, :label => false, :input_html => {:class => "none-input", :value => "#{@course.id}" }
            = f.input :buyout, :label => false, :input_html => {:class => "none-input", :value => "#{@course.price_dolars}" }
        .row.mar_ned
      %ul.list-inline.pull-right
        -# %li
        -#   %button.btn.btn-default.prev-step{:type => "button"} Previous
        -# %li
        -#   %button.btn.btn-default.next-step{:type => "button"} Skip
        %li
          %button.btn.btn-primary.btn-info-full.next-step{:type => "button"} Guardar y continuar


    #step2.tab-pane{:role => "tabpanel"}
      .step33
        %h5
          %strong Detalles de pago
        %hr
        -if params[:method].eql?("paypal")
          .row.mar_ned
            .col-lg-2
              %p{:align => "right"}
                %stong= @course.course_name
          .row.mar_ned
            .col-lg-2
              %p{:align => "right"}
                $
                %stong= @course.price_dolars


            .center-f
              #payment-form
              %button.btn.btn-primary{:type => "submit"} Pagar
              = f.input :payment, :label => false, :input_html => {:value => "paypal", :class => "none-input none-paypal", :type => "text", :required => "required"}
              %script{:src => "https://js.braintreegateway.com/js/braintree-2.20.0.min.js"}
        -else
          %h4 MercadoPago
          .center-f
            /%a{:class => "lightblue-M-Ov-VeOn", :href => "https://sandbox.mercadopago.com/mlv/checkout/pay?pref_id=148728814-e8999e44-f861-4a44-b0b1-be5fe9403b47", "mp-mode" => "modal", :name => "MP-Checkout"} Pagar
            %a{id:"",:class => "lightblue-M-Ov", :href => "https://sandbox.mercadopago.com/mlv/checkout/pay?pref_id=148728814-e8999e44-f861-4a44-b0b1-be5fe9403b47", "mp-mode" => "modal", :name => "MP-Checkout"} Pagar
            = f.input :payment, :label => false, :input_html =>  {:value => "mercadopago", :id=>"btn-mp", :class => "none-input none-mp", :type => "text", :required => "required"}

      %ul.list-inline.pull-right
        -# %li
        -#   %button.btn.btn-primary.prev-step{:type => "button"} Previous
        %li
          %button.btn.btn-primary.next-paypal.none-paypal#btn-next{:type => "button"} Save and continue
    #complete.tab-pane{:role => "tabpanel"}
      %h3 Complete
      %p You have successfully completed all steps.
    .clearfix


:javascript
  $(document).ready(function () {

    $(".form-control").prop("aria-invalid","true");

    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();

    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

        var $target = $(e.target);

        if ($target.parent().hasClass('disabled')) {
            return false;
        }
    });

    $(".next-step").click(function (e) {
      if (
        $("#subscriber_name").attr("aria-invalid")=="false" &&
        $("#subscriber_lastname").attr("aria-invalid")=="false" &&
        $("#subscriber_document_id").attr("aria-invalid")=="false" &&
        $("#subscriber_email").attr("aria-invalid")=="false" &&
        $("#subscriber_phone_one").attr("aria-invalid")=="false" &&
        $("#subscriber_address").attr("aria-invalid")=="false"
      ){
        var $active = $('.wizard .nav-tabs li.active');
        $active.next().removeClass('disabled');
        nextTab($active);
      }
    });

    $(".prev-step").click(function (e) {
        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);
    });


   validations = $("#new_subscriber").validate({
    event: "blur",
    rules: {
      'subscriber[name]': { required: true},
      'subscriber[lastname]': { required: true },
      'subscriber[document_id]': { required: true, minlength: 6, maxlength: 15 },
      'subscriber[email]': { required: true, email: true },
      'subscriber[phone_one]': { required: true, minlength: 7, maxlength: 15 },
      'subscriber[address]': { required: true },
      'braintree-dropin-frame': {required: true},
      },

    messages: {
      'subscriber[name]': "Indica tu nombre",
      'subscriber[lastname]': "Indica tu apellido",
      'subscriber[document_id]': "Tu identidad personal (C.I)",
      'subscriber[email]': "Introduce un email válido",
      'subscriber[phone_one]': "Introduce un teléfono entre 7 y 15 caracteres",
      'subscriber[address]': "Indica tu dirección",
      },
    debug: true,errorElement: "label",
    submitHandler: function(form){
      form.submit();
    }
  });
  });

  function nextTab(elem) {
    $(elem).next().find('a[data-toggle="tab"]').click();
  }
  function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
  }

  var clientToken = "#{@token}";

  braintree.setup(clientToken, "dropin", {
  container: "payment-form"
  });

  $("body#braintree-paypal-button").click(function(){
      $("#btn-next").removeClass("none-paypal");
      $("#btn-next").addClass("display-paypal");
      var $active = $('.wizard .nav-tabs li.active');
      $active.next().removeClass('disabled');
      nextTab($active);
  });

:scss
  .none-mp, .none-paypal{
  display: none;
  }

  .display-mp, .display-paypal{
  display: block;
  }

  .none-input{
  display: none;
  }

  .center-f {
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  }

:javascript
  (function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
