%h1 checkout
%h1 nuevo

-# subscriber_params[:payment].eql?("paypal") ? amount = "#{@course.price_dolars}" : amount = "#{@course.price_bs}"
-# if !@checkout.transaction.nil?
-#   @checkout = @checkout.transaction.id
-#   @subscriber = Subscriber.new(subscriber_params.merge(bill: @checkout, buyout: "#{amount}"))
-#     if @subscriber.save
-#       redirect_to checkout_id_path(@checkout)
-#     else
-#       puts"Error en guardar subscriptor"
-#     end
-# else
-#   puts"Error en el pago"
-#   @checkout.errors.map { |error| "Error: #{error.code}: #{error.message}" }
-#   redirect_to checkout_id_path("Braintree_errors")
-#   # error_messages = result.errors.map { |error| "Error: #{error.code}: #{error.message}" }
-#   # #flash[:error] = error_messages
-# end
-#
-#
-# # preferenceDataToUpdate = Hash["items" => Array(Array["title"=>"testUpdated", "quantity"=>1, "unit_price"=>2])]
-# #
-# # preferenceUpdate = $mp.update_preference("#{params[:preference_id]}", preferenceDataToUpdate)
