.wrapper
	.wrapper-body.container
		.actions
			= link_to category_courses_path(@category_course.id), class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for [@category_course, @course] do |f|
					.row
						= f.hidden_field :category_id
						.col.l6
							= f.input :course_name
						.col.l6
							= f.input :banner, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
					.row
						.col.l6
							= f.input :quota
						.col.l6
							= f.input :price_dolars
						.col.l6
							= f.input :price_bs
						-# .col-l6
						-# 	%img{:src => "/assets/frontend/logo-slice.png"}
					.row
						.col.l12
							= f.input :description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'mini'} }
							=# f.input :description, input_html: {class: "materialize-textarea"}

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
