%tr{ id: "row-#{course.id}" }
	- if can? :destroy_multiple, Course
		%td.item-check{style:"width: 10%"}
			=# link_to "", category_courses_path(course.id), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{course.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{course.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{course.id}" }
		%td{style:"width: 30%"}
			= link_to category_course_path(params[:category_id],course.id), remote: true, class: "show-row" do
				=# link_to "/cursos", category_courses_path(params[:category_id],course.id), remote: true, class: "show-row"
			%span
				= course.course_name

		%td{style:"width: 30%"}
			= link_to category_course_path(params[:category_id],course.id), remote: true, class: "show-row" do
				=# link_to "/cursos", category_courses_path(params[:category_id],course.id), remote: true, class: "show-row"
			%span
				=image_tag course.banner, style:"height:50px"
		%td{style:"width: 30%"}
			= link_to category_course_path(params[:category_id],course.id), remote: true, class: "show-row" do
				=# link_to "/cursos", category_courses_path(params[:category_id],course.id), remote: true, class: "show-row"
			%span
				= course.quota

		%td{style:"width: 30%"}
			= link_to category_course_path(params[:category_id],course.id), remote: true, class: "show-row" do
				=# link_to "/cursos", category_courses_path(params[:category_id],course.id), remote: true, class: "show-row"
			%span
				= course.price_dolars

		%td{style:"width: 30%"}
			= link_to category_course_path(params[:category_id],course.id), remote: true, class: "show-row" do
				=# link_to "/cursos", category_courses_path(params[:category_id],course.id), remote: true, class: "show-row"
			%span
				= course.price_bs

		-# %td{style:"width: 30%"}
		-# 	=# link_to "", category_courses_path(params[:category_id],course.id), remote: true, class: "show-row"
		-# 	%span
		-# 		=image_tag course.banner, style:"height:50px"
		-# %td{style:"width: 30%"}
		-# 	=# link_to "", category_courses_path(params[:category_id],course.id), remote: true, class: "show-row"
		-# 	%span
		-# 		= course.quota
		-# %td{style:"width: 30%"}
		-# 	=# link_to "", category_courses_path(params[:category_id],course.id), remote: true, class: "show-row"
		-# 	%span
		-# 		= course.price


		%td{style:"width: 5%"}
			= link_to category_course_subscribers_path(params[:category_id],course.id), class: "btn-floating waves-effect btn-flat" do
				= material_icon.md_24.home.css_class("md-dark")

		%td{style:"width: 5%"}
			= link_to category_course_path(params[:category_id],course.id), class: "btn-floating waves-effect btn-flat" do
				= material_icon.md_24.more_horiz.css_class("md-dark")
