= title("Courses - Listado")
.listing.col.l9.m12.s12

	= link_to categories_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only" do
		= material_icon.arrow_back

	= entries(@total, @objects)

	- if can? :new, model
		= link_to new_category_course_path, class: "btn-floating btn-large waves-effect separator waves-light teal hide-on-small-only" do
			= material_icon.md_24.add

	%table.bordered
		%tbody
			- @objects.each do |course|
				-if course.category_id==@category_course.id
					= render 'listing', course: course
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							No se han encontrado courses.
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_category_course_path(@category_course), class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red" do
		= material_icon.md_24.add.css_class("md-light")



:scss
	.separator{
		margin: 40px 30px 8px 30px;
	}
