.wrapper
	.wrapper-body.container
		.actions
		.wrapper-inputs
			.card
				=# simple_form_for @subscriber, :url => category_course_subscriber_path, :method => 'post' do |f|
				= simple_form_for @subscriber, :url => url_for(:action => 'create', :controller => 'subscribers'), :method => 'post' do |f|
					.row
						= f.input :name
						= f.input :lastname
						= f.input :email
						= f.input :phone_one
						= f.input :phone_two
						= f.input :bill
						= f.input :buyout
						= f.input :payment
						= f.input :address, input_html: {class: "materialize-textarea"}
						= f.hidden_field :course_id

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
