%tr{ id: "row-#{subscriber.id}" }
	- if can? :destroy_multiple, Subscriber
		%td.item-check{style:"width: 10%"}
			=# link_to "", subscriber_path(subscriber), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{subscriber.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{subscriber.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{subscriber.id}" }

		%td{style:"width: 30%"}
			=# link_to "", category_course_subscriber_path(4,6), remote: true, class: "show-row"
			%span
				= subscriber.name
		%td{style:"width: 30%"}
			=# link_to "", category_course_subscriber_path(params[:course_id], search: @query), remote: true, class: "show-row"
			%span
				= subscriber.lastname
		%td{style:"width: 30%"}
			=# link_to "", category_course_subscriber_path(params[:course_id], search: @query), remote: true, class: "show-row"
			%span
				= subscriber.email
		%td{style:"width: 30%"}
			=# link_to "", category_course_subscriber_path(params[:course_id], search: @query), remote: true, class: "show-row"
			%span
				= subscriber.phone_one
		%td{style:"width: 30%"}
			=# link_to "", category_course_subscriber_path(params[:course_id], search: @query), remote: true, class: "show-row"
			%span
				= subscriber.phone_two
		%td{style:"width: 30%"}
			=# link_to "", category_course_subscriber_path(params[:course_id], search: @query), remote: true, class: "show-row"
			%span
				= subscriber.course_id


		%td{style:"width: 5%"}
			= link_to category_course_subscriber_path(params[:category_id],params[:course_id],subscriber.id), class: "btn-floating waves-effect btn-flat" do
				= material_icon.md_24.more_horiz.css_class("md-dark")
